globalStorage/
VS-Code-Configs/
workspaceStorage/
clipboard.history.json
clipboard.history
sync/extensions/lastSyncextensions.json
sync/keybindings/lastSynckeybindings.json
sync/settings/lastSyncsettings.json
sync/snippets/lastSyncsnippets.json

.filterline.json