$c: 'This is the main purpose of the extension ... quickly insert colors by meaningful names', right-click on a color to see the context-menu ... and check out the intellisense command (see docs);
$c: 'coorporate dark', #20272F;
$c: 'coorporate light', #eee;
$c: 'coorporate blue', #4EC5F1;
$c: 'coorporate green', #0df2c9;